<div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">Sizes</label>
    <div class="col-sm-10">
        <select class="form-control form-select form-control-a" name="Sizes">
            <option>Select TV inch</option>
            <option value="32">32 inch</option>
            <option value="40">40 inch</option>
            <option value="43">43 inch</option>
            <option value="55">55 inch</option>
            <option value="65">65 inch</option>
            <option value="75">75 inch</option>
            <option value="85">85 inch</option>
            <option value="98">98 inch</option>
        </select>
    </div>
</div>

<div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">Resolution</label>
    <div class="col-sm-10">
        <select class="form-control form-select form-control-a" name="Resolution">
            <option>Select Resolution</option>
            <option value="HD">HD</option>
            <option value="FHD">FHD</option>
            <option value="2K">2K</option>
            <option value="QHD">QHD</option>
            <option value="UHD">UHD</option>
            <option value="4K">4K</option>
        </select>
    </div>
</div>

<div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">HDTechnology</label>
    <div class="col-sm-10">
        <select class="form-control form-select form-control-a" name="HDTechnology">
            <option>Select HD Technology</option>
            <option value="HDR">HDR</option>
            <option value="HDR 10">HDR 10</option>
            <option value="HDR 1600">HDR 1600</option>
            <option value="QLED">QLED</option>
        </select>
    </div>
</div>

<div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">RefreshRate</label>
    <div class="col-sm-10">
        <select class="form-control form-select form-control-a" name="RefreshRate">
            <option>Select Refresh Rate</option>
            <option value="60">60Hz</option>
            <option value="120">120Hz</option>
        </select>
    </div>
</div>

<div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">SoundTechnology</label>
    <div class="col-sm-10">
        <select class="form-control form-select form-control-a" name="SoundTechnology">
            <option>Select Sound Technology</option>
            <option value="Dolby Audio">Dolby Audio</option>
            <option value="Dolby Atmos">Dolby Atmos</option>
            <option value="DTS X">DTS X</option>
        </select>
    </div>
</div>