@model ContactModel;
<!-- ======= Contact Single ======= -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-t8">
                <div class="row">
                    <div class="col-md-7">
                        <form asp-action="SaveForm" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <input type="text" asp-for="Name" class="form-control form-control-lg form-control-a" placeholder="Your Name" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <input asp-for="Email" type="text" class="form-control form-control-lg form-control-a" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        <input type="text" asp-for="Subject" class="form-control form-control-lg form-control-a" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea asp-for="Message" class="form-control" cols="45" rows="8" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 my-3">
                                    <div class="mb-3">
                                        @if (ViewBag.Message == "Success")
                                        {
                                            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                                            <script type="text/javascript">
                                                $(document).ready(function (e) {
                                                  swal("Thank you", "Your message has been sent.", {
                                                    icon: "success",
                                                    buttons: {
                                                      confirm: {
                                                        className: "btn btn-success",
                                                      },
                                                    },
                                                  });
                                                });
                                            </script>
                                        }
                                        else if (ViewBag.Message == "Failed")
                                        {
                                            <div class="error-message">
                                                @Html.ValidationSummary(false, "Please fix the following error and then submit the form")
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-a">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="icon-box section-b2">
                            <div class="icon-box-icon">
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div class="icon-box-content table-cell">
                                <div class="icon-box-title">
                                    <h4 class="icon-title">Say Hello</h4>
                                </div>
                                <div class="icon-box-content">
                                    <p class="mb-1">
                                        Email.
                                        <span class="color-a">contact@example.com</span>
                                    </p>
                                    <p class="mb-1">
                                        Phone.
                                        <span class="color-a">+54 356 945234</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box section-b2">
                            <div class="icon-box-icon">
                                <span class="bi bi-geo-alt"></span>
                            </div>
                            <div class="icon-box-content table-cell">
                                <div class="icon-box-title">
                                    <h4 class="icon-title">Find us in</h4>
                                </div>
                                <div class="icon-box-content">
                                    <p class="mb-1">
                                        Manhattan, Nueva York 10036,
                                        <br> EE. UU.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box">
                            <div class="icon-box-icon">
                                <span class="bi bi-share"></span>
                            </div>
                            <div class="icon-box-content table-cell">
                                <div class="icon-box-title">
                                    <h4 class="icon-title">Social networks</h4>
                                </div>
                                <div class="icon-box-content">
                                    <div class="socials-footer">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="#" class="link-one">
                                                    <i class="bi bi-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="link-one">
                                                    <i class="bi bi-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="link-one">
                                                    <i class="bi bi-instagram" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#" class="link-one">
                                                    <i class="bi bi-linkedin" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Single-->
<link rel="stylesheet" href="~/css/plugins.min.css" />
<script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>