@model ProductModel
<div class="container">
    <div class="col-md-12 section-t8">
        @if (TempData["message"] != null)
        {
            <div class="text-center">
                <h6 class="display-6">@TempData["message"]</h6>
            </div>
        }
        else
        {
            <div class="text-center">
                <h4 class="display-4 color-b">Products</h4>
            </div>
            <div class="row">
                @foreach (var products in ViewBag.Products)
                {
                    <div class="carousel-item-b col-md-4 mb-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="~/img/@products.ImageUrl" alt="" class="img-a img-fluid d-block mx-auto">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            @products.ProductName
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">Rs @products.Price</span>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <a class="link-hover-black" asp-controller="Product" asp-action="ProductSingle" asp-route-id="@products.ProductId">
                                                    Click to view
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>